<server description="Receiver server">

	<featureManager>
		<feature>wmqJmsClient-2.0</feature>
		<feature>mdb-3.2</feature>
		<feature>servlet-3.1</feature>
	</featureManager>

  <variable name="default.http.port" defaultValue="9080"/>
  <variable name="default.https.port" defaultValue="9443"/>

  <variable name="mq.host" defaultValue="mqfull"/>
  <variable name="mq.port" defaultValue="1414"/>
  <variable name="mq.channel" defaultValue="SYSTEM.ADMIN.SVRCONN"/>
  <variable name="mq.queueManager.name" defaultValue="QM1"/>
  <variable name="mq.queue.name" defaultValue="Q1"/>

  <httpEndpoint host="*" httpPort="${default.http.port}" httpsPort="${default.https.port}" id="defaultHttpEndpoint"/>

  <variable name="wmqJmsClient.rar.location" value="${server.config.dir}/wmq/wmq.jmsra-9.2.0.0.rar"/>


	<jmsQueueConnectionFactory jndiName="jms/connectionFactory" connectionManagerRef="ConMgr6">
		<properties.wmqJms
			hostName="${mq.host}"
			port="${mq.port}"
			channel="${mq.channel}"
			queueManager="${mq.queueManager.name}"/>
	</jmsQueueConnectionFactory>

	<jmsQueue id="jms/queue" jndiName="jms/queue">
		<properties.wmqJms
			baseQueueName="${mq.queue.name}"
			baseQueueManagerName="${mq.queueManager.name}"/>
	</jmsQueue>

	<jmsActivationSpec id="receiver/Receiver">
		<properties.wmqJms
			hostName="${mq.host}"
			destinationRef="jms/queue"
			destinationType="javax.jms.Queue"
			port="${mq.port}"
			channel="${mq.channel}"/>
	</jmsActivationSpec>

	<connectionManager id="ConMgr6" maxPoolSize="2"/>

</server>
